<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <connectionStrings>
    <add name="DatabaseEntities" connectionString="metadata=res://*/Database.Database.csdl|res://*/Database.Database.ssdl|res://*/Database.Database.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=P31502\SQLEXPRESS;initial catalog=Soda13;persist security info=True;user id=sa;password=sa2019;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Database2Entities" connectionString="metadata=res://*/Database.Database.csdl|res://*/Database.Database.ssdl|res://*/Database.Database.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=P31502\SQLEXPRESS;initial catalog=Soda13;persist security info=True;user id=sa;password=sa2019;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Soda13Entities" connectionString="metadata=res://*/Database.DatabaseModel.csdl|res://*/Database.DatabaseModel.ssdl|res://*/Database.DatabaseModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=P31502\SQLEXPRESS;initial catalog=Soda13;persist security info=True;user id=sa;password=sa2019;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>